.c-menu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    box-shadow: 0px 0px 10px limegreen;
    display: flex;
    justify-content: space-around;
}

.c-menu li {
    width: 100%;
}

.c-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.c-menu li a:hover {
    background-color: #111;
}

@media screen and (max-width: 1500px){
    .character-info{
        width: 300px;
        display: inline-block;
        justify-content: center;
        margin: 3.2%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1200px){
    .c-menu ul {
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .c-menu ul {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .c-menu ul {
        width: 100%;
    }
}