.c-trailer {
    background: white;
    width: 100%;
    height: 800px;
}

.trailer-title {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
}