.c-countdown-timer {
    height: 400px;
    background: #ddb634;
    padding: 2%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.timer div {
    padding: 0 2% 0 2%;
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.timer-title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5em;
}

.timer-date {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.3em;
}

.timer-date p:before,
.timer-date p:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.timer-date p:before {
  right: 0.5em;
  margin-left: -50%;
}

.timer-date p:after {
  left: 0.5em;
  margin-right: -50%;
}

.timer-date span {
    padding: 4px;
    font-weight: bold;
    color: red;
}

@media screen and (max-width: 1200px){
    .c-countdown-timer {
        height: 350px;
    }

    .timer-title {
        font-size: 1.3em;
    }

    .timer-date {
        font-size: 1.2em;
    }

    .timer div {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 992px){
    .c-countdown-timer {
        height: 325px;
    }

    .timer-title {
        font-size: 1.1em;
    }

    .timer-date {
        font-size: 1.1em;
    }

    .timer div {
        font-size: 2em;
    }
}
