.c-character-box{
    background: rgb(32, 35, 41);
}

.characters-page1{
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;
    display: none;
}

.characters-page2{
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;
    display: none;
}

.characters-page3{
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;
    display: none;
}

.c-character-box .active-page {
    display: block;
}

.character-info{
    width: 300px;
    display: inline-block;
    justify-content: center;
    margin: 1.8%;
    border-radius: 10px;
}

.character-info__body{
    visibility: hidden;
    width: 100%;
    font-size: 1.2em;
}

.character-info div{
    list-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.character-info:hover {
    box-shadow: limegreen 0 0 20px;
    height: 100%;
    .character-info__body{
        visibility: initial;
    }
}

.character-info__name{
    width: 100%;
    height: 10%;
    color: rgb(200, 200, 200);
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 2em;
    text-shadow: limegreen 0px 0px 20px;
}

.character-info__body div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 0 15px 0 15px;
}

.character-info__body div:last-child {
    border-bottom: none;
}

.character-info__top {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.character-info__top__image:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.character-info__top__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.pages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pages a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pages a.active{
    border-radius: 5px;
    background: green;
}

.pages a:hover:not(.active) {
    background: grey;
}

@media screen and (max-width: 1500px){
    .character-info{
        width: 300px;
        display: inline-block;
        justify-content: center;
        margin: 3.2%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1200px){
    .character-info{
        width: 300px;
        display: inline-block;
        justify-content: center;
        margin: 1.8% 8.2% 1.8% 8.2%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 992px){
    .character-info{
        width: 300px;
        display: inline-block;
        justify-content: center;
        margin: 1.8% 4.8% 1.8% 4.8%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px){
    .character-info{
        width: 300px;
        display: inline-block;
        margin: 1.8% 23.5% 1.8% 23.5%;
        border-radius: 10px;
    }
}

